header.head,
footer.foot {
  z-index: 99;
  position: fixed;
  left: 0px;
  width: 100%;
  color: var(--color-pure-white);
}

header.head {
  top: 0;
  background: var(--color-green-dark);
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

footer.foot {
  bottom: 0;
  background: var(--color-pure-gray);
  padding: 10px 20px;
  color: white;
}

.head-item {
  padding: 5px 10px;
  font-size: 1rem;
  color: white;
  background: var(--color-prime);
  margin: 0 1px;
}

.head-item.name {
  color: var(--color-yellow-light);
  background: var(--color-yellow-dark);
}
